<div class="container">
  <% allData.map(item => {%>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 blog-box">
      <div class="dropdown" style="float: right">
        <button
          class="btn"
          type="button"
          id="dropdownMenu2"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="22"
            height="22"
            fill="currentColor"
            class="bi bi-three-dots"
            viewBox="0 0 16 16"
          >
            <path
              d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
            />
          </svg>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <a href="/edit/<%= item.id %> "
            ><button class="dropdown-item" type="button">Edit</button></a
          >
          <a href="/delete/<%= item.id %> ">
            <button
              class="dropdown-item"
              type="button"
              onclick="return confirm('Are you sure ?')"
            >
              Delete
            </button></a
          >
        </div>
      </div>

      <h5 class="mt-2 mb-1 ml-2">Title:<span><%= item.title %></span></h5>
      <div class="text-center">
        <% JSON.parse(item.images).map((i,index) =>{ %> <% if(index == 0) {%>
        <img
          src="/uploadImages/<%= i %>  "
          alt=""
          height="220px"
          width="450px"
        />
        <% } %> <% }) %>
      </div>
      <% if(JSON.parse(item.images).length> 1) {%>
      <a href="/showImages/<%= item.id %> "
        ><button class="btn btn-success text-center mt-2 ml-2">
          More Images <b><%= JSON.parse(item.images).length %> </b>
        </button></a
      >
      <% } %>

      <p class="mt-2">Subject: <%= item.name %></p>

      <div>
        <p>Post Body:</p>
        <%if(item.body.length >= 100) {%> <%= item.body.substr(1,200) %>
        <a href="/showBody/<%= item.id %>"><strong>.....See More</strong></a> <%
        } else {%> <%= item.body %> <% } %>
      </div>

      <div style="float: right">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="25"
          height="25"
          fill="currentColor"
          class="bi bi-bookmark-star"
          viewBox="0 0 16 16"
        >
          <path
            d="M7.84 4.1a.178.178 0 0 1 .32 0l.634 1.285a.178.178 0 0 0 .134.098l1.42.206c.145.021.204.2.098.303L9.42 6.993a.178.178 0 0 0-.051.158l.242 1.414a.178.178 0 0 1-.258.187l-1.27-.668a.178.178 0 0 0-.165 0l-1.27.668a.178.178 0 0 1-.257-.187l.242-1.414a.178.178 0 0 0-.05-.158l-1.03-1.001a.178.178 0 0 1 .098-.303l1.42-.206a.178.178 0 0 0 .134-.098L7.84 4.1z"
          />
          <path
            d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"
          />
        </svg>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>

  <% }) %>
</div>
